# ==========================================
# CONFIGURACIÓN DE DOCKER Y BASE DE DATOS
# ==========================================
DB_USER=postgres
DB_PASSWORD=tu_contraseña_local
DB_NAME=taller_TIS
DB_PORT=5432
# Para local: jdbc:postgresql://localhost:5432/taller_TIS
# Para Supabase: jdbc:postgresql://db.xxxx.supabase.co:5432/postgres
DB_URL=jdbc:postgresql://localhost:5432/taller_TIS

PGADMIN_EMAIL=admin@nexacore.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# ==========================================
# CONFIGURACIÓN DE BACKEND (Spring Boot)
# ==========================================
SERVER_PORT=8080
JWT_SECRET=escribe_aqui_una_clave_secreta_muy_larga_para_tus_tokens_jwt
JWT_EXPIRATION_MS=86400000

# ==========================================
# CONFIGURACIÓN DE FRONTEND (Vite / React)
# ==========================================
VITE_API_BASE_URL=http://localhost:8080/api/v1
